# Common
.DS_Store
node_modules
/dist
/plugins
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.ps1
*.http

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
